@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: block;
    height: 100vh;
    background-image: linear-gradient(to top, #c5bfc5, #d1ccd1, #ddd9dd, #e9e7e9, #f5f4f5);
    font-family: 'Orbitron', sans-serif;
}

main {
    height: 100%;
    width: 100%;
}

#simon-game {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.game-title {
    text-align: center;
    margin-top: 4rem;
}

#title {
    color: #3b5368;
    font-size: 3rem;
}

#sub-title {
    color: #587d9d;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: .5rem;
}

#simon-game-screen {
    height: 80px;
    width: 500px;
    color: white;
    background-image: linear-gradient(to right, #587d9d, #51728f, #496882, #425d75, #3b5368);
    border: 3px solid lightgray;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    filter: drop-shadow(0px 7px 7px gray);
    margin-top: 2.5rem;
    margin-bottom: 4rem;
}

#simon-housing {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    filter: drop-shadow(0 12px 12px gray);
}

.active {
    filter: opacity(.5);
    filter: brightness(.7);
    filter: drop-shadow(0 0 4rem white);
}

.hoverActive:hover {
    filter: opacity(.9);
    filter: drop-shadow(0 0 0.85rem);
    cursor: pointer;
}

#btn-1 {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to right bottom, #dd1c1a, #e33731, #e84c46, #ec5e5a, #ee6f6d);
    border: 2px solid white;
    border-radius: 100% 0 0 0;
}

#btn-2 {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to left bottom, #07a0c3, #3bb1d0, #58c2de, #71d3ec, #89e5fa);
    border: 2px solid white;
    border-radius: 0 100% 0 0;
}

#btn-3 {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to right top, #44af69, #5bb97b, #70c38c, #84cd9e, #98d7af);
    border: 2px solid white;
    border-radius: 0 0 0 100%;
}

#btn-4 {
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to left top, #f0c808, #f3cf32, #f5d64b, #f8dd60, #fbe474);
    border: 2px solid white;
    border-radius: 0 0 100% 0%;
}

#game-screen{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px;
    width: 80px;
    border-radius: 12px;
    font-family: 'Orbitron', sans-serif;
}

button:hover {
    background-color: white;
    color: black;
}