*{
    margin: 0;
    padding: 0;
}

body{
    display: block;
    height: 100vh;
}

nav {
    height: 10%;
    width: 100%;
    border: 2px solid red;
}

main {
    height: 70%;
    width: 100%;
    border: 2px solid green;
    display: flex;
}

#simon-game {
    height: 100%;
    width: 80%;
    border: 2px solid orange;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

#simon-housing {
    height: 600px;
    width: 600px;
    border: 3px solid cyan;
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#btn-1 {
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 100% 0 0 0;
}
#btn-2 {
    height: 300px;
    width: 300px;
    background-color: blue;
    border-radius: 0 100% 0 0;
}
#btn-3 {
    height: 300px;
    width: 300px;
    background-color: green;
    border-radius: 0 0 0 100%;
}
#btn-4 {
    height: 300px;
    width: 300px;
    background-color: yellow;
    border-radius: 0 0 100% 0%;
}

#game-stats {
    height: 100%;
    width: 20%;
    border: 2px solid pink;
}

section {
    height: 20%;
    width: 100%;
    border: 2px solid blue;
}